@model IEnumerable<KidsCenterA.ViewModels.CourseViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgeCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoursePrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgeCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoursePrice)
        </td>
        <td>
            @{
                if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.CourseId })
                }
            }

      
                    @Html.ActionLink("Details", "Details", new { id = item.CourseId })
   

            @{
                if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new {id = item.CourseId})
                }
            }
            
        </td>
    </tr>
}

</table>
